* {
    box-sizing: border-box;
    font-family: 'Varela', sans-serif;
}

body {
    background-color: whitesmoke;
    overflow-x: hidden !important;
    background-image: url(/frontend/images/alex-shutin-kKvQJ6rK6S4-unsplash.jpg);
    background-size: cover;

}

.wrapper {
    display: flex;
    position: relative;
}

.bg-grey {
    background: #777777;
    box-shadow: 0 1px 1px 1px;
}

.shadow {
    box-shadow: 0 1px 1px 1px;
}

button.option {
    outline: none;
    border: none;
    border-radius: 4px;
    width: 20%;
    box-shadow: 0 1px 1px 1px;
    transition: background-color 0.8s;
}

button.option:hover {
    background-color: rgb(160, 160, 160);
}

.hidden {
    display: none;
}

/* TABLETS */
@media screen and (max-width: 2000px) {
    body {
        overflow-x: hidden !important;
        background-image: url(/frontend/images/alberto-restifo-kKrfPaKgE1c-unsplash.jpg);
        background-size: cover;
    }

    header {
        display: flex;
        justify-content: center;
        position: relative;
        top: 10px;
    }

    header > h1, h3 {
        overflow-wrap: break-word;
    }

    .switch_pages{
        position: absolute;
        top: 500px;
        left: 0;
        right: 0;
        margin: auto;
        width: 200px;
        padding: 15px;
    }

    header > h3 {
        position: relative;
        top: 75px;
        font-size: larger;
        color: #777777;
        opacity: 99%;
        padding-bottom: 8px;
        border-bottom: double 1px;
        border-color: #777777;
        font-weight: 600;
    }

    header > h1 {
        position: absolute;
        display: flex;
        height: fit-content;
        letter-spacing: 2px;
        font-weight: 900;
    }

    .wrapper.question_box {
        top: 150px;
        width: 80%;
        display: block;
        border-radius: 4px;
        margin: auto auto 15px;
    }

    .wrapper.entry {
        position: relative;
        top: 200px;
        display: flex;
        justify-content: center;
    }

    .wrapper.entry > input, button{
        border-radius: 4px;
        border: solid 1px;
    }

    input#entry_code {
        padding: 20px;
        width: 500px;
        border-radius: 5px;
        outline: none;
        text-align: center;
    }

    .question_box > .options {
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        font-size: 1.5rem;
    }

    .question_box > h6 {
        display: flex;
        padding: 10px;
        font-size: 1.8rem;
        border-bottom: solid 1.5px;
    }
}

/* PHONES */
@media screen and (max-width: 525px) {
    body {
        overflow-x: hidden !important;
        background-image: url(/frontend/images/andrej-nihil-0-iJd6FNR5I-unsplash.jpg);
        background-size: cover;
    }

    header {
        display: flex;
        width: 80%;
        height: 100%;
        position: relative;
        left: 20px;
        right: 8%;
        top: 10px;
    }

    header > h1, h3 {
        overflow-wrap: break-word;
    }

    header > h3 {
        position: relative;
        top: 100px;
        font-size: larger;
        color: #777777;
        opacity: 99%;
        padding-bottom: 8px;
        border-bottom: double 1px;
        border-color: #777777;
    }

    header > h1 {
        position: absolute;
        display: flex;
        height: fit-content;
    }

    .wrapper.question_box {
        top: 150px;
        width: 80%;
        display: block;
        border-radius: 4px;
        margin: auto auto 15px;
    }

    .question_box > .options {
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
    }

    .question_box > h6 {
        display: flex;
        padding: 10px;
        border-bottom: solid 2px;
    }


}