*{
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    overflow-x: hidden !important;
}

nav{
    background-color: grey;
    background: grey;
    
}

.selection_menu{
    top: 20%
    
}

button.topic{
    
}

@media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }
    
    
}